@charset "UTF-8";

table {
	margin: auto;
	width: 70%
}

#ptitle {
	background-color: orange;
}

#memberListTitle {
	margin: auto;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#searchdiv{
	margin: auto;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}